.note-list {
    padding: 1.5rem;
    padding-top: 5rem;
    list-style-type: none;
    display: grid;
    max-width: 1400px;
    grid-template-columns: repeat(auto-fill, minmax(375px, 600px));
    gap: 2rem;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}